/*-- scss:defaults --*/

@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap);

/*-- scss:mixins --*/


/*-- scss:rules --*/

p {
  max-width: 700px;
  font: lato !important;
  font-weight: 100;
  min-width: 10px !important;
}

img#my-pic {
  display: block !important;
  border-radius: 50% !important;
  width: 214px !important;
}

/* project component*/

video {
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
  background-color: black;
  border-radius: 2%;
}


div[class*="proj-"] {
  font-size: 70%;
}

.grid {
  row-gap: 0px !important;
}

.proj-description p {
  line-height: 20px;
}

/*
@media (width < 800px) {
  .proj-img {
    background-color: red !important;
    padding-bottom: 30px;
    border-bottom: solid 1px black;
  }
} 
*/