/*-- scss:functions --*/


/*-- scss:defaults --*/
$toc-color: var(--hover-color);

/*-- scss:rules --*/

:root {
    --main-color: black;
    --a-color: #4a77b2;
    --accent-color: #9e019e;
    --hover-color: #c42393;
    --accent-background: #e8d5ff;
}

body {
  font-family: "Helvetica Neue";
  letter-spacing: .7px;
  word-spacing: -1px;
}

.sidebar-link, .nav-link {
 font-size: 1rem; 
}

h1 {
  font-size: 3rem !important;
  font-weight: 400 !important;
}

h2 {
  font-size: 2.4rem;
  font-weight: 400; 
  border: 0px;
}

h3, .sidebar-title, #toc-title {
  font-size: 1.6rem !important;
  font-weight: 400 !important;
} 

p, li, ul, div[class*="proj-"] {
  max-width: 700px;
  width: 100%;
  font-weight: 200;
  min-width: 10px !important;
}

a {
  color: var(--a-color);
  text-underline-offset: 0.28em;
  text-decoration-thickness: from-font;
}

a:hover {
  color: var(--hover-color);
}

img#my-pic {
  display: block !important;
  border-radius: 50% !important;
  width: 214px !important;
}

/* project component*/

div.project-cover video, div.project-cover img, .cover {
  width: 100%;
  max-width: 412px;
  max-height: 100%;
  padding: 10px;
  background-color: black;
  border-radius: 2%;
  margin-bottom: 24px;
}

.grid {
  row-gap: 0px !important;
}

.cv ul {
  padding-left: 1rem;
}

.bib {
  font-size: 60%;
}

.anchorjs-link {
  color: black;
}

.button {
    text-decoration: none;
    color: black;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: 200;
    padding: 5px; 
    transition-duration: 0.2s;
    margin-bottom: 18px;
}

.button:hover {
  background-color: black;
  color: white;
}