#my-pic {
  display: block;
  border-radius: 50%;
  width: 214px;
}

div[class*="proj-"] {
  background-color: yellow;
}

@media (width < 800px) {
  .proj-img {
    background-color: red !important;
    padding-bottom: 30px;
    border-bottom: solid 1px black;
  }
} 