/*-- scss:defaults --*/

@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap);

/*-- scss:mixins --*/


/*-- scss:rules --*/

p, li, ul, div[class*="proj-"] {
  max-width: 700px;
  width: 100%;
  font: lato !important;
  font-weight: 100;
  min-width: 10px !important;
}

img#my-pic {
  display: block !important;
  border-radius: 50% !important;
  width: 214px !important;
}

/* project component*/

div.project-cover video, div.project-cover img {
  width: 100%;
  max-width: 412px;
  max-height: 100%;
  padding: 10px;
  background-color: black;
  border-radius: 2%;
  margin-bottom: 24px;
}


div[class*="proj-"] {
  font-size: 70%;
}

.grid {
  row-gap: 0px !important;
}

.proj-description p {
  line-height: 20px;
}

.cv p, .cv li {
  font-size: 70%;
}

.cv ul {
  padding-left: 1rem;
}

.bib {
  font-size: 60%;
}

.anchorjs-link {
  color: black;
}
